* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

#messages
{
font-size:3;
line-height:140%;
color:#8a919e;
}
#status
{
font-weight:bold;
line-height:130%;
color:#8a919e;
}
h1
{
 font-size:100%;
 font-size: 64px;
 font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
 font-style: normal;
 font-weight: normal;
 text-decoration: none;
 color:#ffbf00;
}

h2
{
 font-size:100%;
 font-size: 24px;
 font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
 font-style: normal;
 font-weight: normal;
 text-decoration: none;
 color:#ffbf00;
}

body
{
 margin: 0;
 border: 0;
 vertical-align: baseline;
 float:left;
 padding: 50px;
 font-size:100%;
 font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
 background-color: #333d4f;
 color:#8a919e;
}
hr{
color:#8a919e;
}

.gauge-a{
	z-index: 1;
	position: absolute;
	background-color: rgba(255,255,255,.2);
	width: 400px;
	height: 200px;
	top: 0%;
	border-radius:250px 250px 0px 0px ;
}
.gauge-b{
	z-index: 3;
	position: absolute;
	background-color: #333d4f;
	width: 250px;
	height: 125px;
	top: 75px;
	margin-left: 75px;
	margin-right: auto;
	border-radius:250px 250px 0px 0px ;
}
.gauge-c{
	z-index: 2;
	position: absolute;
	background-color: #724378;
	width: 400px;
	height: 200px;
	top: 200px;
	margin-left: auto;
	margin-right: auto;
	border-radius:0px 0px 200px 200px ;
	transform-origin:center top;
	transition: all 1.3s ease-in-out;
}

.gauge-d{
	z-index: 5;
	color: rgba(255,255,255,.2);
	font-size: 1.5em;
	line-height: 25px;
	position: absolute;
	width: 400px;
	height: 200px;
	top: 176px;
	margin-left: auto;
	margin-right: auto;
	transition: all 1s ease-out;
}

.container{
	width:400px;
	height:200px;
	float: left;
	margin-top: 120px;
	margin-left: 200px;
	overflow: hidden;
	text-align: center;
	transform: translate(-50%, -50%);
	
}

.info{
clear:both; 
}

.container:hover .gauge-data{
	color: rgba(255,255,255,1);
}

.gauge-data{
	z-index: 4;
	color: rgba(255,255,255,.2);
	font-size: 1.5em;
	line-height: 25px;
	position: absolute;
	width: 400px;
	height: 200px;
	top: 120px;
	margin-left: auto;
	margin-right: auto;
	transition: all 1s ease-out;
}