
html { 
	  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
	 background-color: #333d4f;
	 color:#8a919e;
	 font-style: normal;
	 font-weight: normal;
	 color:#ffbf00;
}
html, body{
	margin: 0px;
	padding: 0px;
}
.titleinfo{
	position: absolute;
	z-index: 3;
	width:100%;
	text-align: center;
	top: 10px;
	color:#ffbf00;
}
#status
{
font-weight:bold;
line-height:130%;
color:#8a919e;
}
.info{
	position: absolute;
	width:100%;
	height:200px;
	text-align: center;
	top: 400px;
	color:#8a919e;
}
h1{
	left: 50%;
	font-size:100%;
	font-size: 64px;
	font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
	 font-style: normal;
	font-weight: normal;
}
p{
	font-family: 'Arimo', sans-serif;
	font-size: 11pt;
	line-height: 14pt;
}

.container{
	width:400px;
	height:198px;
	position: absolute;
	top: 280px;
	left: 50%;
	overflow: hidden;
	text-align: center;
	transform: translate(-50%, -50%);
}


.gauge-a{
	z-index: 1;
	position: absolute;
	background-color: rgba(255,255,255,.2);
	width: 400px;
	height: 200px;
	top: 0%;
	border-radius:250px 250px 0px 0px ;
}
.gauge-b{
	z-index: 3;
	position: absolute;
	background-color: #333d4f;
	width: 250px;
	height: 125px;
	top: 75px;
	margin-left: 75px;
	margin-right: auto;
	border-radius:250px 250px 0px 0px ;
}
.gauge-c{
	z-index: 2;
	position: absolute;
	background-color: #724378;
	width: 400px;
	height: 200px;
	top: 200px;
	margin-left: auto;
	margin-right: auto;
	border-radius:0px 0px 200px 200px ;
	transform-origin:center top;
	transition: all 1.3s ease-in-out;
}
.gauge-d{
	z-index: 5;
	font-size: 1.0em;
	line-height: 25px;
	position: absolute;
	width: 400px;
	height: 200px;
	top: 150px;
	margin-left: auto;
	margin-right: auto;
	transition: all 1s ease-out;
}

.gauge-data{
	z-index: 4;
	line-height: 25px;
	font-size: 0.5em;
	position: absolute;
	width: 400px;
	height: 200px;
	top: 75px;
	margin-left: auto;
	margin-right: auto;
	transition: all 1s ease-out;
}